    @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
    body {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.7;
        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
        background-position: center;
        background-repeat: repeat;
        background-size: 4%;
        height: 100vh;
        width: 100%;
        padding: 0px;
        margin: 0px;
        font-family: 'Nunito', sans-serif;
        background-color: #FFFFFF;
    }
    /* header */
    
    #bar {
        height: 8vh;
        position: fixed;
        width: 100%;
        top: 0%;
        z-index: 3;
        background-color: #FFFFFF;
        color: #284B63;
    }
    
    .barcontent {
        display: block;
        height: 8vh
    }
    
    #imgmenu {
        height: 5vh;
        width: 5vh;
    }
    
    #barcontent1 {
        width: 83vw;
        padding-left: 2vw;
        float: left;
    }
    
    #barcontent2 {
        width: 5vh;
        height: 5vh;
        float: right;
        margin: 1.5vh 0 1.5vh 0;
        padding: 0px;
        padding-right: 1.5vh;
        background-color: #FFFFFF;
        border-radius: 10%;
    }
    
    #menu {
        width: 5vh;
        height: 5vh;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    
    #menu span {
        display: block;
        height: 0.7vh;
        width: 5vh;
        background: #284B63;
        border-radius: 9px;
        transition: .25s ease-in-out;
        position: relative;
    }
    
    #menu span:nth-child(1) {
        top: 0.7vh;
        transform-origin: left top;
    }
    
    #menu span:nth-child(2) {
        top: 1.4vh;
        transform-origin: left center;
    }
    
    #menu span:nth-child(3) {
        top: 2.1vh;
        transform-origin: left bottom;
    }
    
    #title {
        height: 6vh;
        margin: 0px;
        padding: 0px;
        font-size: 5vh;
        line-height: 8vh;
        color: #284B63;
        text-decoration: none;
    }
    
    #title a {
        color: #284B63;
        text-decoration: none;
    }
    /* sidebar */
    
    #sidebar {
        position: fixed;
        top: 92vh;
        left: 45vw;
        width: 10vw;
        height: 5vh;
        z-index: 100;
        border-radius: 1vh;
        background-color: #284B63;
        display: none;
    }
    
    #sidebarcont {
        list-style-type: none;
        text-align: center;
        padding: 0%;
        opacity: 1;
        padding-top: 4vh;
    }
    
    #sidebarcont a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 3vh;
    }
    
    @keyframes sidebaron {
        from {
            width: 10vw;
            height: 5vh;
            top: 92vh;
            left: 45vw;
            border-radius: 1vh;
            opacity: 0;
        }
        to {
            width: 100vw;
            height: 100vh;
            top: 8vh;
            left: 0;
            border-radius: 0vh;
            opacity: 1;
        }
    }
    
    @keyframes sidebaroff {
        from {
            width: 100vw;
            height: 100vh;
            top: 8vh;
            left: 0;
            border-radius: 0vh;
            opacity: 1;
        }
        to {
            width: 0vw;
            height: 0vh;
            top: 92vh;
            left: 50vw;
            border-radius: 1vh;
            opacity: 0;
        }
    }
    /* advancment bar */
    
    #advancment {
        height: 5vw;
        background-color: #8d8d8d;
        position: fixed;
        width: 100%;
        top: 8vh;
        z-index: 5;
        box-shadow: 2px 10px 30px 0px rgba(0, 0, 0, 0.43);
    }
    
    #advcontent {
        background-color: #284B63;
        width: 0%;
        position: fixed;
        top: 8vh;
        height: 5vw;
        border-top-right-radius: 2.5vw;
        border-bottom-right-radius: 2.5vw;
        animation-name: advancment;
        animation-duration: 2s;
    }
    
    .advimage {
        position: fixed;
        top: 8vh;
        height: 5vw;
        z-index: 5;
    }
    
    @keyframes advancment {
        from {
            padding-left: 100%;
        }
        to {
            padding-left: 0%;
        }
    }
    
    #advimage1 {
        left: 15.1vw;
    }
    
    #advimage2 {
        left: 31.7vw;
    }
    
    #advimage3 {
        left: 48.3vw;
    }
    
    #advimage4 {
        left: 65.1vw;
    }
    
    #advimage5 {
        left: 81.5vw;
    }
    /* video background page 1 */
    
    .bgvid {
        position: fixed;
        top: 8vh;
        left: 0%;
        z-index: -10;
        width: 100%;
        height: 92vh;
        object-fit: cover;
    }
    
    #bgvid2 {
        display: none;
    }
    
    #video-wrapper {
        position: fixed;
        top: 8vh;
        height: 92vh;
        text-align: center;
    }
    
    #cont {
        position: relative;
        height: 98vh;
        padding-top: 70vh;
        z-index: 100;
        width: 100vw;
        text-align: center;
        background: linear-gradient(0deg, rgb(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.1)100%);
    }
    
    @media screen and (min-width: 600px) {
        #bgvid2 {
            display: block;
        }
        #bgvid1 {
            display: none;
        }
        #cont {
            padding-top: 55vh;
        }
        #advancment {
            height: 2vw;
        }
        #advcontent {
            height: 2vw;
            border-top-right-radius: 1vw;
            border-bottom-right-radius: 1vw;
        }
        .advimage {
            height: 2vw;
        }
    }
    /* next page button */
    
    .nextpage {
        background-color: #284B63;
        color: #FFFFFF;
        height: 4vh;
        width: 50vw;
        margin-left: 20vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
        border: none;
        border-radius: 10px;
    }
    
    .nextpage a {
        text-decoration: none;
        color: #FFFFFF;
    }
    
    #button1 {
        position: fixed;
        bottom: 2vh;
        margin-left: 25vw;
    }
    /* page 2 */
    
    #contmain {
        padding: 5vw;
        position: relative;
        top: 11vh;
    }
    
    #subtitle {
        color: #8d8d8d;
        margin-top: 0%;
        margin-bottom: 0%;
        font-size: 5vw;
    }
    
    #contmain p {
        margin-top: 1vh;
    }
    /* ------------------------------------------------------------------------------------- */
    /* login */
    
    #SecretLogin {
        /* background-color: yellow; */
        padding: 10px;
        padding-left: 40px;
        padding-bottom: 30px;
        position: absolute;
        top: 0;
        left: 0;
    }